body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Hintergrund schwarz */
    color: #808080; /* Graue Textfarbe */
    width: 350px;
}

#container {
    background-color: #fff;
    padding: 18px;
    border-radius: 10px; /* Ecken rund */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-color: #000;
}

#new-task {
    padding: 10px;
    width: calc(100% - 20px);
    margin-bottom: 10px;
    border: 1px solid #beabab;
    border-radius: 4px;
    outline: none;
}

#add-task {
    display: none; /* "Add Task"-Button ausblenden */
}

#task-list {
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

#task-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #e0e0e0;
    margin-bottom: 5px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #d3a3a3;
    border-radius: 4px;
}

#task-list li span {
    flex-grow: 1;
    margin-left: 10px;
    word-break: break-all;
}

input[type='checkbox'] {
    cursor: pointer;
}

button:not(#add-task) {
    margin-left: 5px;
    padding: 5px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

button:hover {
    opacity: 0.8;
}

#logo {
    margin-bottom: 10px;
    margin-left: 135px;
    width: 50px; /* Breite des Logos */
    height: 50px; /* Höhe des Logos */
}
